*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%; /** font-size 62.5% is equal to 1rem = 10px */
  scroll-behavior: smooth;
  scroll-padding-top: 15rem;
}
body{
  font-size: 1.6rem;
  line-height: 1.6;
}
main, section, div, .container, article, 
header, footer, aside{  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: auto;
}
main, section, header, footer{
  align-items: center;
  padding: 0 2rem;
} 

nav ul{
  list-style:none
}
a, a:active{
  text-decoration: unset;
  color: var(--color-primary);
}
ul, li{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  font-style: italic;
  font-size:1.4rem;
  background-repeat: no-repeat;
  background-size: cover;
}
button{
  border: none;
  background-color: unset;
}
hr{
  display:block;
  width: 100%;
  height: 2px;
  border: unset;
  background-color:var(--bg-light-gray);
  margin: 2rem 0;
}
