:root {
  /* Neutrals */
  --color-white: #FFFFFF;
  --color-light-gray: #EBEBEB;
  --color-off-white: #F8F8F8;

  /* Brand / primary colors */
  --color-primary: #1792D2;
  --color-primary-dark: #143774;

  /* Text colors */
  --text-main: #707070;
  --text-muted: #717171;
  --text-primary: #1792D2;
  --text-primary-dark: #143774;

  /** Background Colors */
  --bg-white: #FFFFFF;
  --bg-light-gray: #EBEBEB;
  --bg-off-white: #F8F8F8;
}
